@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Framework */

html, body{
    height: 100%;
}

.max-width {
    width: 100%;
    min-height: auto;
}

.bg {
    background: url('image/bg-2.png')no-repeat;
    background-size: cover ;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.logo {
    background: url('image/logo-roupa.png')no-repeat;
    background-size: contain;
    width: 130px;
    height: 80px;
    position: relative;
    top: 20px;
    z-index: 9;
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background: #c3bcb7;
}

.call {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.left, .right {
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

img {
    width: 70%;
    object-fit: contain;
}

button {
    padding: 10px 20px;
    background: #1b3b56;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.8s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    border: 1px solid #8b634a;
    background: #8b634a;
    color: #fff;
    transform: scale(1.10);
}

.text-pq {
    font-size: 20px;
}

.text-md {
    font-size: 42px;
}

.text-gd {
    font-size: 72px;
}

text-title {
    font-size: 20px;
    font-weight: 600;
}

.color-azul {
    color: #1b2b56;
}

.color-azul-1 {
    color: #5271ff;
}

.color-cinza-2 {
    color: #545454;
}

/* Desktop-menu */

.desktop-menu ul {
    display: flex;
}

.desktop-menu ul li {
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    color: #17203f;
    text-shadow: 0 0 5px #848790;
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.8s ease;
}

.desktop-menu ul li a:hover{
    color: #8b634a;
    text-shadow: 0 0 5px #8b634a;
    font-weight: 400;
    text-decoration: underline;
}
/* Header */

header .container {
    flex-direction: column;
    justify-content: flex-start;
}

header .left {
    flex-direction: column;
    align-items: flex-start;
}

header .left h1{
    text-align: start;
    font-weight: 400;
    text-shadow: 0 0 5px #848790;
    padding: 0 40px;
}

header .left p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    text-align: start;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #848790;
    margin-top: 60px;
    padding: 0 40px;
}

header button {
    margin-top: 60px;
    margin-left: 40px;
}

header .right .imagem {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 1s ease;   
}

header .right .imagem img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 60px;
}

/* Responsivo */

@media screen and (max-width: 922px){
    .text-pq {
        font-size: 13px;
    }
    
    .text-md {
        font-size: 28px;
    }
    
    .text-gd {
        font-size: 54px;
    }
}

@media screen and (max-width: 740px) {
    header .right .imagem {
        width: 100%;
    }

    .desktop-menu ul {
        display: none;
    }
}

@media screen and (max-width: 648px){
    .left {
        width: 100%;
        min-height: auto;
        padding:0 2%;
    }

    .right{
        width: 100%;
        min-height: auto;
        padding:0 2%;
        margin-top: -60px;
    }
}
